.social-icon {
  color: inherit;
  background-color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 100ms ease-in;
}

.social-icon:hover {
  background-color: whitesmoke;
}
