.cursor {
  display: inline-block;
  height: 3rem;
  width: 2px;
  transform: translateY(0.5rem);
  background-color: black;
}

.mid.cursor {
  height: 5rem;
  width: 2px;
  transform: translateY(1rem);
}

.big.cursor {
  height: 7rem;
  width: 3px;
  transform: translateY(1rem);
}

.hidden.cursor {
  display: none;
}
