:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: oklch(22.324% 0.00154 16.369);
  --border: oklch(39.709% 0.00403 16.71);
  --primary: oklch(63.936% 0.0625 197.134);
  --primary-foreground: oklch(86.832% 0.01056 174.76);
  --foreground: oklch(89.036% 0.01087 76.465);
  --muted-foreground: oklch(68.887% 0.01035 41.521);
}

.light,
[data-theme="light"] {
  --background: oklch(19.125% 0.00002 271.152);
  --secondary: oklch(0.2393 0 0);
  --border: oklch(60.999% 0.00007 271.152);
}

.dark,
[data-theme="light"] {
  --background: oklch(0.1704 0.0087 21.18);
  --border: oklch(55.1% 0.027 264.364);
}
