@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: oklch(23.435% 0.01588 18.258);
  --secondary: oklch(29.313% 0.02106 18.341);
  --border: oklch(39.741% 0.0193 17.867);
}

.light,
[data-theme="light"] {
  --background: oklch(19.125% 0.00002 271.152);
  --secondary: oklch(0.2393 0 0);
  --border: oklch(60.999% 0.00007 271.152);
}

.dark,
[data-theme="light"] {
  --background: oklch(0.1704 0.0087 21.18);
  --border: oklch(55.1% 0.027 264.364);
}
